<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingeniería en Multimedia</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Ingeniería en Multimedia</h1>

    <% semestres.forEach(function(productos) { %>
        <h2><%= tenedores.nombre %> </h2>
        <ul>
        <% semestre.materias.forEach(function(materia) { %>
            <li class="fork"><%= productos.nombre %></li>
        <% }); %>
        </ul>
    <% }); %>

</body>
</html>